################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/OMyBeer/.vs/OMyBeer
/OMyBeer/API/bin/Debug/net8.0
/OMyBeer/API/obj
